<ion-view view-title="Hi there, please log in" hide-nav-bar="true">
   
    <ion-content class="padding">
    <div>
        <img ng-src="img/logo.png" style="width: 80%; margin: auto; padding: 10px; display: block">
    </div>
    <div class="list">
        <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
        </label>
        <label class="item item-input">
        <button class="button button-block button-calm" ng-click="validateUser()">
        Log In
        </button>
        </label>
    </div>
    </ion-content>

</ion-view>