<ion-view view-title="My check-ins">

	<ion-content class="padding">
		<h3>My checked in titles</h3>
		<ul ng-repeat="item in myCheckedInItems">
            <div class="item item-text-wrap item-thumbnail-left" href="{{ item.imdburl }}" target="_system" ng-click="openLink(item.imdburl)">
            <img ng-src="{{ item.poster }}">
            <h2>{{ item.title }}</h2>
            <p>Rated {{ item.userScore }} at {{ item.time }}</p>
            </div>
            <!--
			<div class="list card">
                <a href="#" class="item">
				<div class="item item-text-wrap">
					{{ item.title }}
				</div>
                </a>
				<div class="item item-text-wrap">
					Rated {{ item.userScore }} at {{ item.time }}
				</div>
			</div>
            -->
		</ul>

	</ion-content>

</ion-view>