<ion-view view-title="My check-ins">
	<ion-content class="padding">

		<h4>Check-ins</h4>

		<div ng-if="showPlaceHolder()">
			<p>No check-ins yet!</p>
		</div>

		<ul ng-repeat="item in myCheckedInItems">
            <div class="item item-text-wrap item-thumbnail-left" href="{{ item.imdburl }}" target="_system" ng-click="openLink(item.imdburl)">
            <img ng-src="{{ item.poster }}">
            <h2>{{ item.title }}</h2>
            <p>Rated {{ item.userScore }} at {{ item.time }}</p>
            </div>
            <!--
			<div class="list card">
                <a href="#" class="item">
				<div class="item item-text-wrap">
					{{ item.title }}
				</div>
                </a>
				<div class="item item-text-wrap">
					Rated {{ item.userScore }} at {{ item.time }}
				</div>
			</div>
            -->
		</ul>
		<br>
		<ul>
			<a class="item item-icon-left item-icon-right" href="#/tab/myCheckIns/myBadges">
				<i class="icon ion-ribbon-b"></i>
				Badges
				<i class="icon ion-ios-arrow-forward"></i>
			</a>
		</ul>
		<br>

	</ion-content>
</ion-view>