<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Check in Tab -->
  <ion-tab title="Check In" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/checkIn">
    <ion-nav-view name="tab-checkIn"></ion-nav-view>
  </ion-tab>

  <!-- My Check-ins Tab -->
  <ion-tab title="My Check-ins" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/myCheckIns">
    <ion-nav-view name="tab-myCheckIns"></ion-nav-view>
  </ion-tab>

  <!-- My account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
